<h1>Корзина</h1>
<div id='card'>
{{#if courses.length}}
    <table>
        <thead>
            <tr>
                <th>Название курса</th>
                <th>Кол-во</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>


            {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button class="btn btn-small js-remove" data-id='{{id}}'>Удалить</button> <!--js-remove - класс кнопки удалить который будем обрабатывать-->
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <p><strong>Цена: <span class="price">{{price}}</span> </strong></p>
{{else}}
    <p>Корзина пуста</p>
{{/if}}
</div>